
@media only screen and (max-width: 767px) {
    .container {
        margin: 0 !important;
    }
    .row {
        border-radius: 0 !important;
    }
}

.row {
    text-align: center;
    background-color: #000;
    line-height: 0;
    border-radius: .28571429rem .28571429rem 0 0;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    overflow: hidden;
}

.row .screen {
    background-color: #ddd;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
