<div class="ui container">
    <div class="row mobile">
        <div
            class="screen {{ status.toLocaleLowerCase() }}"
            [ngStyle]="{
                'max-width': maxWidth + 'px',
                'height': height + 'px'
            }"
            >
            <app-mpeg-player
                url="{{ env.serverStreamUrl }}"
                protocol="{{ env.serverStreamProtocol }}"
            ></app-mpeg-player>
            <div class="overlay">
                <div class="container">

                    <div class="ui black icon big message waitting">
                        <i class="hourglass half icon"></i>
                        <div class="content">
                            <div class="header">
                                A transmissão não está em andamento no momento
                            </div>
                            <p>Se a transmissão estiver para inicar, aguarde alguns instantes...</p>
                        </div>
                    </div>

                    <div class="ui black icon big warning message stopped">
                        <i class="exclamation triangle icon"></i>
                        <div class="content">
                            <div class="header">
                            O servidor de transmissão não está execução
                            </div>
                            <p>Por favor, informe ao operador do dispositivo.</p>
                        </div>
                    </div>

                    <div class="ui icon black big message error">
                        <i class="x icon"></i>
                        <div class="content">
                            <div class="header">
                            Algo errado aconteceu
                            </div>
                            <p>Por favor, informe ao operador do dispositivo.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
