<div class="content">
    <div class="ui segment">
        <a
            (click)="onBack()"
            class="ui top left attached large label"
            >
            <i class="arrow left icon"></i>
            Voltar
        </a>
        <h3 class="ui icon header">
            <i class="cogs icon"></i>
            <div class="content">
                Painel de controle
                <div class="sub header">
                    Opções gerais da transmissão e do dispositivo
                </div>
            </div>
        </h3>
        <app-login></app-login>
    </div>
</div>
