<app-settings-page>
    <app-settings-page-content>
        <h2 class="ui header">
            <i class="plug icon"></i>
            <div class="content">
                Ajustes do dispostivo
                <div class="sub header">Gerencie as opções gerais e de energia do dispostivo</div>
            </div>
        </h2>
    </app-settings-page-content>

    <a scrollTo="#controlstream" class="item">Opções de energia</a>
    <app-settings-page-content id="controlstream">
        <h3 class="ui dividing header">Opções de energia</h3>

        <div class="power-action">
            <button class="ui large labeled icon teal button">
                <i class="undo icon"></i>
                Reinicar
            </button>
            <button class="ui large  labeled icon red button">
                <i class="power off icon"></i>
                Desligar
            </button>
        </div>
    </app-settings-page-content>

    <a scrollTo="#controlstream" class="item">Detalhes do dispostivo</a>
    <app-settings-page-content id="controlstream">
        <h3 class="ui dividing header">Detalhes do dispostivo</h3>

        <div class="ui mini three  statistics">
            <div class="statistic">
                <div class="value normal case">
                    raspberry
                </div>
                <div class="label">
                    Wi-fi
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    192.168.0.1
                </div>
                <div class="label">
                    IP
                </div>
            </div>
            <div class="statistic">
                <div class="value normal case">
                    raspberry.local
                </div>
                <div class="label">
                    Hostname
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    0.5-alpha
                </div>
                <div class="label">
                    Versão do Software
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    Raspberry PI 3B
                </div>
                <div class="label">
                    Nome do dispostivo
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    1GB
                </div>
                <div class="label">
                    RAM
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    Raspbian/Linux
                </div>
                <div class="label">
                    S.O.
                </div>
            </div>
        </div>

    </app-settings-page-content>
</app-settings-page>
