<div appVAlignParent >
    <div appVAlign >

        <app-video></app-video>

        <app-video-status-bar>

            <app-video-status-bar-item type="status">
                <i class="fas fa-video"></i>
                <span class="mobile hidden" > Transmitindo...</span>
            </app-video-status-bar-item>
            <app-video-status-bar-item type="status">
                <i class="fas fa-users"></i>
                <span> 1</span><span class="mobile hidden"> pessoa(s) assistindo</span>
            </app-video-status-bar-item>

            <app-video-status-bar-item type="action">
                <button class="circular ui compact icon basic button">
                    <i class="fas fa-expand"></i>
                </button>
            </app-video-status-bar-item>
            <app-video-status-bar-item type="action">
                <a routerLink="/settings/stream" class="circular ui compact icon basic button">
                    <i class="fas fa-sliders-h"></i>
                </a>
            </app-video-status-bar-item>

        </app-video-status-bar>
    </div>
</div>
