<div appVAlignParent >
    <div appVAlign >
        <app-video></app-video>
        <div class="ui container">
            <div class="ui segment">
                <div class="ui divided grid">
                    <div class="eight wide mobile twelve wide tablet thirteen wide computer column">
                        <div class="ui horizontal divided list">
                            <div class="item">
                                <div class="content">
                                    <i class="fas fa-video"></i>
                                    <span class="mobile hidden" > Transmitindo...</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <i class="fas fa-users"></i>
                                    <span> 1</span><span class="mobile hidden"> pessoa(s) assistindo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions eight wide mobile four wide tablet three wide computer column">
                        <div class="ui horizontal list">
                            <div class="item">
                                <div class="content">
                                    <button class="circular ui compact icon basic button">
                                        <i class="fas fa-expand"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <button class="circular ui compact icon basic button">
                                        <i class="fas fa-expand-arrows-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="item">
                                <div class="content">
                                    <button routerLink="/" class="circular ui compact icon basic button">
                                        <i class="fas fa-sliders-h"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
