<div class="ui container">
    <div class="ui placeholder segment">
        <div class="ui one column center aligned grid main-header">
            <div class="middle aligned row">
                <h1 class="ui header">
                    <div class="content">Bem vindo</div>
                    <div class="sub header">
                        Acesse o sistema por uma das opções abaixo
                    </div>
                </h1>
            </div>
        </div>
        <div class="ui two column stackable center aligned grid access-options">
            <div class="middle aligned row">
                <div class="column">
                    <h3 class="ui icon header">
                        <i class="record icon"></i>
                        <div class="content">
                            Acompanhar a transmissão
                            <div class="sub header" *ngIf="status == 'RUNNING'">
                                A transmissão estar ocorrendo no momento<br>
                                <b>{{ watchingPeaple }}</b> pessoas estão acompanhando
                            </div>
                            <div class="sub header" *ngIf="status == 'STOPPED'">
                                Sem transmissão no momento<br>
                            </div>
                        </div>
                    </h3>
                    <a routerLink="/video-viewer" class="ui primary fluid button">
                        Acompanhar
                    </a>
                </div>
                <div class="ui vertical divider">Ou</div>
                <div class="column">
                    <h3 class="ui icon header">
                        <i class="cogs icon"></i>
                        <div class="content">
                            Painel de controle
                            <div class="sub header">
                                Opções gerais da transmissão e do dispositivo
                            </div>
                        </div>
                    </h3>

                    <app-login *ngIf="!auth.checkSession()" ></app-login>
                    <div *ngIf="auth.checkSession()">
                        <p>Você se autenticou como administrador</p>
                        <div class="ui fluid buttons">
                            <a routerLink="/settings/stream" class="ui green button">Acessar</a>
                            <div class="or"></div>
                            <button
                                type="button"
                                class="ui red button"
                                [class.loading]="loading"
                                (click)="onLogout()"
                                >
                                Desconectar-se
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
