<app-settings-page>

    <app-settings-page-content>
        <h2 class="ui header">
            <i class="signal icon"></i>
            <div class="content">
                Ajustes de transmissão
                <div class="sub header">Controle a e gerencie os parâmetro da transmissão</div>
            </div>
        </h2>
    </app-settings-page-content>

    <a scrollTo="#controlstream" class="item">Controlar transmissão</a>
    <app-settings-page-content id="controlstream">
        <h3 class="ui dividing header">Controlar transmissão</h3>

        <div
            class="ui form info"
            [class.info]="status == 'STOPPED'"
            [class.success]="status == 'RUNNING'"
            [class.error]="status == 'ERROR'"
            [class.loading]="loading"
            >

            <div class="field">
                <div class="ui success message">
                    <div class="header">Transmissão está em execução...</div>
                    <p>Atualmente <b>{{ watchingPeaple }}</b> pessoas estão acompanhando.</p>
                    <p class="right-align" >
                        <a routerLink="/video-viewer" class="ui basic tiny green button">
                            Acompanhar
                        </a>
                    </p>
                </div>
                <div class="ui info message">
                    <div class="header">Transmissão está em parada.</div>
                    <p>Para começar a transmissão, basta clicar em <b>Iniciar Transmissão </b>.</p>
                </div>
                <div class="ui error message">
                    <div class="header">Ocorreu algum erro com a transmissão.</div>
                    <p>Tente reinicar o aparelho caso o erro pessistir.</p>
                </div>
            </div>

            <div class="field">
                <div class="ui column centered grid">
                    <button
                        class="ui large labeled icon green button form-button start-stream"
                        [class.disabled]="status == 'ERROR'"
                        (click)="onStartBtnClicked()"
                    >
                        <i class="record icon"></i>
                        Iniciar transmissão
                    </button>
                    <button
                        class="ui large labeled icon red button form-button stop-stream"
                        (click)="onStopBtnClicked()"
                    >
                        <i class="stop icon"></i>
                        Parar transmissão
                    </button>
                </div>
            </div>
        </div>

    </app-settings-page-content>

    <a scrollTo="#teststream" class="item">Testar Transmissão</a>
    <app-settings-page-content id="teststream">
        <h3 class="ui dividing header">Testar Transmissão</h3>

        <div
            class="ui form warning"
            [class.warning]="status == 'RUNNING'"
            >

            <p>Utilize essa opção para testes e configução do aparelho.</p>

            <div class="ui warning message">
                <div class="header">Não é possivel realizar o teste enquanto uma transmissão estiver em andamento.</div>
                <p>Pare a transmissão atual para realizar o teste.</p>
            </div>
            <div class="field">
                <div class="ui column centered grid">
                    <button
                        class="ui large labeled icon disabled button form-button"
                        [class.disabled]="status != 'STOPPED' || loading"
                        >
                        <i class="wrench icon"></i>
                        Começar teste
                    </button>
                </div>
            </div>
        </div>

    </app-settings-page-content>
</app-settings-page>
