<div class="ui container">
    <div class="ui segment">
        <div class="ui grid">
            <div class="status thirteen wide computer twelve wide tablet eight wide mobile column">
                <div class="ui horizontal list">
                    <ng-content select="[type=status]"></ng-content>
                </div>
            </div>
            <div class="actions three wide computer four wide tablet eight wide mobile column">
                <div class="ui horizontal list">
                    <ng-content select="[type=action]"></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>
