.status {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.actions {
    text-align: right;
    padding-top: 6px !important;
    padding-bottom: 0 !important;
}

.ui.horizontal.list{
    line-height: 1;
}

.ui.segment:first-child {
    border-radius: 0 0 .28571429rem .28571429rem;
}

@media only screen and (max-width: 767px) {

    .container {
        margin: 0 0 !important;
    }

    .ui.segment{
        border-radius: 0 !important;
        width: 100%;
        text-align: left;
        min-width: 318px;
    }
}
